*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-family: "Sen";
}
// main{
//     section{
//         .container{
//             max-width: 1320px;
//             padding: 0 20px;
//             margin: 0 auto;
//             // border: 1px solid red;
//             .first{
//                 padding: 150px 0 300px 0;
//                 .first-h2{
//                     font-family: Sen;
//                     font-size: 48px;
//                     font-weight: 700;
//                     line-height: 64px;
//                     text-align: center;
//                     padding-bottom: 60px;
//                 }
//                 .first-form{
//                     padding-bottom: 50px;
//                     text-align: center;
//                     .first-input{
//                         padding: 15px  578px 15px 15px ;
//                         // max-width: 768px;
//                         margin-bottom: 30px;
//                         outline: none;
//                         border: 1px solid rgb(196, 194, 194);
//                         border-radius: 2px;
//                     }
//                 }
//                 .login-div{
//                     text-align: center;
//                     background-color: #FFD050;
//                     padding:  13px 100px;
//                     max-width: 768px;
//                     margin: 0 auto;
//                     border-radius: 3px;
//                     // border: none;
//                     // outline: none;
//                     cursor: pointer;
//                     transition: 0.5s;
//                     &:hover{
//                         background-color: #edcf7d;
//                     }
//                     .login-link{
//                         text-decoration: none;
//                         font-family: Sen;
//                         font-size: 24px;
//                         font-weight: 700;
//                         line-height: 32px;
//                         color: #232535;
//                         cursor: pointer;
//                         transition: 0.5s;
//                         &:hover{
//                             color: #19191b;
//                             transition: 0.5s;
//                         }
//                     }
//                 }
//             }
//         }
//     }
// }
main{
  .container{
    max-width: 1320px;
    padding: 0 20px;
    margin: 0 auto;
.login-box {
  .login-title {
    margin-top: 148px;
    margin-left: 408px;
    width: 557px;
    height: 64px;
    color: #232536;
    text-align: center;

    h2 {
      font-family: Sen;
      font-size: 48px;
      font-style: normal;
      font-weight: 700;
      line-height: 64px;
      /* 133.333% */
      letter-spacing: -2px;
    }
  }

  form {
    margin-top: 76px;
    margin-left: 336px;
    padding-bottom: 60px;

    .user-box {
      margin-top: 10px;

      input {

        display: flex;
        width: 768px;
        padding: 24px;
        align-items: center;

        border-radius: 2px;
        border: 1px solid rgba(59, 66, 117, 0.5);

      }

    }

    #btn {
      margin-top: 54px;
      width: 768px;
      height: 64px;
      flex-shrink: 0;
      border: none;
      background: #FFD050;
      color: #232536;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 32px;
      text-decoration: none;

      &:hover {
        background-color: #be9006;
      }


    }
  }
}
  }
}
.backtop {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.3);
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 99;
    outline: none;
    cursor: pointer;
    padding: 8px;
    /* opacity: 0; */
    transition: 1s;
  }
  
  .backtop img {
    width: 100%;
  }